# API key HiveOS
hive_api_key=""
# Hive API URL
hiveAPIUrl='https://api2.hiveos.farm/api/v2'
# Check type: local/hive
# local (preffered) - means the bot will ask the machines per IP. This requires direct access to IP, port allow on every machine
# (not implemented) hive - means the bot will get hash info with API requests to Hive
check_type=local

# Sending commands type: hive/local
# hive (preffered)- means the bot will send API requests to Hive
# (not implemented) local - means the bot will send commands via SSH. Requires SSH access to every machine with a key.
command_type=hive


# API key Telegram
telegram_api_key=""
# Telegram Chat ID
chat_id=""

# Messages to be sent to the chat, after which the bot will stop messaging, if no changes
messages_giveup=2

# Used for function schedule sunset/sunrise get it from Google Maps at easiest
# format coordinate_latitude="[NS]yy[.yyy]"
coordinate_latitude="N00.0000"
coordinate_longitude="E00.0000"
# Offset for sunrise/sunset - positive values means later X minutes than sunrise; X minutes prior sunset
offset_minutes_sunrise=0
offset_minutes_sunrise=0

# Temporary file, in which the resilts will be saved
hash_checker_results_file="$DIR/tmp/.cache"

# Temporary file, in which workers and notification counts are saved
workers_down_file="$DIR/tmp/.workers_down"

# Temporary file, which will be used for messages
tmp_message_file="$DIR/tmp/.tmp_message"

# Timeout of the Curl queries to the rigs
curl_timeout=3
